<div (click)=setFocus($event) class="unit"
    [ngStyle]="{'top':screenY +'px' , 'left':screenX +'px', 'display': state?'none':'block' , 'border': selected ? 'pink 5px solid' :'none', 'z-index': z }">
    <img style="vertical-align: top;" src={{imageSrc}}>
    <span style="z-index: 10000;position: absolute;left: 0px; font-weight: bold;">
        {{orders.length}}
    </span>
</div>
<div [ngStyle]="{'top':(screenY + 45) +'px' , 'left':screenX +'px'}" class="tooltip">
    {{name}}
    <br>
    {{combatStrength}}/{{musterStrength}}
    <br>
    {{supplyPercent}}%
    <!-- <br>
    {{x}},{{y}} -->
</div>

<div *ngFor="let unused of orders; index as i">
    <img *ngIf="selected && orders[i]"
        [ngStyle]="{ 'position':'absolute', 'transform':'rotate('+ getArrowRotation(i) + 'deg)'  , 'z-index':z-1, 'top':getArrowLocation(i).y +'px' , 'left':getArrowLocation(i).x +'px'  }"
        src="assets/images/units/arrow.png">
</div>

<div *ngFor="let path of supplyPath; index as i">
    <img *ngIf="selected && supplyPath[i]"
        [ngStyle]="{ 'position':'absolute', 'z-index':z-1, 'top':getSupplyLocation(i).y +'px' , 'left':getSupplyLocation(i).x +'px'  }"
        src="assets/images/units/green-dot.png">
</div>