<table>
    <tr *ngFor="let row of theMap; let r = index">
        <td *ngFor="let column of row; let c = index ">
            <div [ngClass]="isCity(r,c) ? 'city' : ''">
                <img *ngIf="r <= 24" src="assets/images/map/{{theMap[r][c]}}.png">
                <img *ngIf="r > 24" src="assets/images/smap/{{theMap[r][c]}}.png">
                <div *ngIf="isCity(r,c) as city" class="city-detail">
                    {{city.name}} 
                    <br>
                    {{city.points}}
                    <br>
                    {{city.owner ? 'Allies' : 'Axis'}}
                </div>
            </div>
        </td>
    </tr>
</table>

<!-- <app-unit x=10 y=10 name="Panzer 1" nationality="G" musterStrength="200"></app-unit>
<app-unit x=10 y=11 name="Panzer 2" nationality="G" musterStrength="198"></app-unit>
<app-unit x=14 y=11 name="Army 2" nationality="R" musterStrength="98"></app-unit> -->

<app-unit name="24 Panzer Corps" x=40 y=20 musterStrength=203 arrive=0 nationality="G"></app-unit>
<app-unit name="46 Panzer Corps" x=40 y=18 musterStrength=192 arrive=0 nationality="G"></app-unit>
<app-unit name="47 Panzer Corps" x=40 y=17 musterStrength=199 arrive=0 nationality="G"></app-unit>
<app-unit name="57 Panzer Corps" x=40 y=16 musterStrength=184 arrive=0 nationality="G"></app-unit>
<app-unit name="5 Infantry Corps" x=41 y=20 musterStrength=136 arrive=0 nationality="G"></app-unit>
<app-unit name="6 Infantry Corps" x=41 y=19 musterStrength=127 arrive=0 nationality="G"></app-unit>
<app-unit name="7 Infantry Corps" x=41 y=18 musterStrength=150 arrive=0 nationality="G"></app-unit>
<app-unit name="8 Infantry Corps" x=41 y=17 musterStrength=129 arrive=0 nationality="G"></app-unit>
<app-unit name="9 Infantry Corps" x=41 y=16 musterStrength=136 arrive=0 nationality="G"></app-unit>
<app-unit name="41 Panzer Corps" x=41 y=23 musterStrength=198 arrive=0 nationality="G"></app-unit>
<app-unit name="56 Panzer Corps" x=40 y=22 musterStrength=194 arrive=0 nationality="G"></app-unit>

<app-unit name="1 Infantry Corps" x=40 y=21 musterStrength=129 arrive=0 nationality="G"></app-unit>
<app-unit name="2 Infantry Corps" x=41 y=21 musterStrength=123 arrive=0 nationality="G"></app-unit>
<app-unit name="10 Infantry Corps" x=41 y=22 musterStrength=101 arrive=0 nationality="G"></app-unit>
<app-unit name="26 Infantry Corps" x=42 y=22 musterStrength=104 arrive=0 nationality="G"></app-unit>
<app-unit name="28 Infantry Corps" x=42 y=23 musterStrength=112 arrive=0 nationality="G"></app-unit>
<app-unit name="38 Infantry Corps" x=42 y=24 musterStrength=120 arrive=0 nationality="G"></app-unit>

<app-unit name="3 Panzer Corps" x=40 y=15 musterStrength=202 arrive=0 nationality="G"></app-unit>
<app-unit name="14 Panzer Corps" x=41 y=14 musterStrength=195 arrive=0 nationality="G"></app-unit>
<app-unit name="48 Panzer Corps" x=42 y=13 musterStrength=191 arrive=0 nationality="G"></app-unit>

<app-unit name="49 Infantry Corps" x=42 y=14 musterStrength=125 arrive=0 nationality="G"></app-unit>
<app-unit name="4 Infantry Corps" x=42 y=12 musterStrength=125 arrive=0 nationality="G"></app-unit>
<app-unit name="17 Infantry Corps" x=43 y=13 musterStrength=125 arrive=0 nationality="G"></app-unit>
<app-unit name="29 Infantry Corps" x=41 y=15 musterStrength=125 arrive=0 nationality="G"></app-unit>

<app-unit name="1 Rumanian Infantry Corps" x=30 y=2 musterStrength=97 arrive=0 nationality="O"></app-unit>
<app-unit name="2 Rumanian Infantry Corps" x=30 y=3 musterStrength=96 arrive=0 nationality="O"></app-unit>
<app-unit name="4 Rumanian Infantry Corps" x=31 y=4 musterStrength=92 arrive=0 nationality="O"></app-unit>

<app-unit name="11 Infantry Corps" x=33 y=6 musterStrength=125 arrive=0 nationality="I"></app-unit>
<app-unit name="30 Infantry Corps" x=35 y=7 musterStrength=131 arrive=0 nationality="I"></app-unit>
<app-unit name="54 Infantry Corps" x=37 y=8 musterStrength=106 arrive=0 nationality="I"></app-unit>


<app-unit x=35 y=38 name="2 Finnish Infantry Corps" arrive=0 nationality="F" musterStrength=112></app-unit>
<app-unit x=36 y=37 name="4 Finnish Infantry Corps" arrive=0 nationality="F" musterStrength=104></app-unit>

<app-unit name="40 Panzer Corps" x=45 y=20 musterStrength=210 arrive=2 nationality="G"></app-unit>
<app-unit name="1 Hun Panzer Corps" x=38 y=8 musterStrength=98 arrive=2 nationality="H"></app-unit>
<app-unit name="25 Infantry Corps" x=45 y=16 musterStrength=95 arrive=5 nationality="G"></app-unit>
<app-unit name="5 Rumanian Infantry Corps" x=31 y=1 musterStrength=52 arrive=6 nationality="O"></app-unit>
<app-unit name="34 Infantry Corps" x=45 y=20 musterStrength=98 arrive=9 nationality="G"></app-unit>
<app-unit name="35 Infantry Corps" x=45 y=19 musterStrength=96 arrive=10 nationality="G"></app-unit>
<app-unit name="5 Italian Infantry Corps" x=32 y=1 musterStrength=55 arrive=11 nationality="I"></app-unit>
<app-unit name="51 Infantry Corps" x=45 y=17 musterStrength=104 arrive=20 nationality="G"></app-unit>
<app-unit name="50 Panzer Corps" x=45 y=18 musterStrength=101 arrive=24 nationality="G"></app-unit>



<app-unit name="9 Tank Army" x=0 y=14 musterStrength=117 arrive=10 nationality="R"></app-unit>
<app-unit name="13 Tank Army" x=0 y=33 musterStrength=84 arrive=14 nationality="R"></app-unit>
<app-unit name="14 Tank Army" x=0 y=11 musterStrength=109 arrive=15 nationality="R"></app-unit>
<app-unit name="15 Tank Army" x=0 y=15 musterStrength=89 arrive=16 nationality="R"></app-unit>
<app-unit name="16 Tank Army" x=0 y=20 musterStrength=105 arrive=18 nationality="R"></app-unit>
<app-unit name="7 Cav Army" x=0 y=10 musterStrength=93 arrive=7 nationality="R"></app-unit>
<app-unit name="2 Tank Army" x=21 y=28 musterStrength=62 arrive=0 nationality="R"></app-unit>
<app-unit name="19 Infantry Army" x=21 y=27 musterStrength=104 arrive=0 nationality="R"></app-unit>
<app-unit name="18 Infantry Army" x=30 y=14 musterStrength=101 arrive=0 nationality="R"></app-unit>
<app-unit name="1 Cav Army" x=30 y=13 musterStrength=67 arrive=0 nationality="R"></app-unit>
<app-unit name="27 Infantry Army" x=39 y=28 musterStrength=104 arrive=0 nationality="R"></app-unit>
<app-unit name="10 Tank Army" x=38 y=28 musterStrength=84 arrive=0 nationality="R"></app-unit>
<app-unit name="22 Infantry Army" x=23 y=31 musterStrength=127 arrive=0 nationality="R"></app-unit>
<app-unit name="21 Infantry Army" x=19 y=24 musterStrength=112 arrive=0 nationality="R"></app-unit>
<app-unit name="13 Infantry Army" x=34 y=22 musterStrength=111 arrive=0 nationality="R"></app-unit>
<app-unit name="6 Tank Army" x=34 y=21 musterStrength=91 arrive=0 nationality="R"></app-unit>
<app-unit name="9 Militia Army" x=31 y=34 musterStrength=79 arrive=0 nationality="R"></app-unit>
<app-unit name="2 Infantry Army" x=27 y=6 musterStrength=69 arrive=0 nationality="R"></app-unit>
<app-unit name="1 Militia Army" x=33 y=37 musterStrength=108 arrive=0 nationality="R"></app-unit>
<app-unit name="8 Infantry Army" x=41 y=24 musterStrength=118 arrive=0 nationality="R"></app-unit>
<app-unit name="11 Infantry Army" x=40 y=23 musterStrength=137 arrive=0 nationality="R"></app-unit>
<app-unit name="1 Tank Army" x=39 y=23 musterStrength=70 arrive=0 nationality="R"></app-unit>
<app-unit name="7 Tank Army" x=42 y=25 musterStrength=85 arrive=0 nationality="R"></app-unit>
<app-unit name="3 Infantry Army" x=39 y=20 musterStrength=130 arrive=0 nationality="R"></app-unit>
<app-unit name="4 Infantry Army" x=39 y=22 musterStrength=91 arrive=0 nationality="R"></app-unit>
<app-unit name="10 Infantry Army" x=39 y=18 musterStrength=131 arrive=0 nationality="R"></app-unit>
<app-unit name="5 Tank Army" x=39 y=17 musterStrength=71 arrive=0 nationality="R"></app-unit>
<app-unit name="8 Tank Army" x=39 y=21 musterStrength=86 arrive=0 nationality="R"></app-unit>
<app-unit name="3 Cav Army" x=37 y=20 musterStrength=75 arrive=0 nationality="R"></app-unit>
<app-unit name="6 Cav Army" x=39 y=19 musterStrength=90 arrive=0 nationality="R"></app-unit>
<app-unit name="5 Infantry Army" x=39 y=16 musterStrength=123 arrive=0 nationality="R"></app-unit>
<app-unit name="6 Infantry Army" x=39 y=15 musterStrength=124 arrive=0 nationality="R"></app-unit>
<app-unit name="12 Infantry Army" x=40 y=14 musterStrength=151 arrive=0 nationality="R"></app-unit>
<app-unit name="26 Infantry Army" x=41 y=13 musterStrength=128 arrive=0 nationality="R"></app-unit>
<app-unit name="3 Tank Army" x=41 y=12 musterStrength=88 arrive=0 nationality="R"></app-unit>
<app-unit name="4 Tank Army" x=39 y=11 musterStrength=77 arrive=0 nationality="R"></app-unit>
<app-unit name="11 Tank Army" x=36 y=9 musterStrength=79 arrive=0 nationality="R"></app-unit>
<app-unit name="5 Cav Army" x=34 y=8 musterStrength=80 arrive=0 nationality="R"></app-unit>
<app-unit name="9 Infantry Army" x=32 y=6 musterStrength=126 arrive=0 nationality="R"></app-unit>
<app-unit name="12 Tank Army" x=35 y=9 musterStrength=79 arrive=0 nationality="R"></app-unit>
<app-unit name="4 Cav Army" x=30 y=4 musterStrength=91 arrive=0 nationality="R"></app-unit>
<app-unit name="2 Cav Army" x=28 y=2 musterStrength=84 arrive=0 nationality="R"></app-unit>
<app-unit name="7 Infantry Army" x=25 y=6 musterStrength=72 arrive=1 nationality="R"></app-unit>
<app-unit name="2 Militia Army" x=29 y=14 musterStrength=86 arrive=1 nationality="R"></app-unit>
<app-unit name="14 Infantry Army" x=32 y=22 musterStrength=76 arrive=1 nationality="R"></app-unit>
<app-unit name="4 Militia Army" x=33 y=36 musterStrength=99 arrive=1 nationality="R"></app-unit>
<app-unit name="15 Infantry Army" x=26 y=6 musterStrength=72 arrive=1 nationality="R"></app-unit>
<app-unit name="16 Infantry Army" x=21 y=6 musterStrength=72 arrive=2 nationality="R"></app-unit>
<app-unit name="20 Infantry Army" x=29 y=6 musterStrength=72 arrive=2 nationality="R"></app-unit>
<app-unit name="96 Infantry Army" x=0 y=6 musterStrength=72 arrive=2 nationality="R"></app-unit>
<app-unit name="24 Infantry Army" x=28 y=30 musterStrength=105 arrive=3 nationality="R"></app-unit>
<app-unit name="40 Infantry Army" x=21 y=20 musterStrength=122 arrive=3 nationality="R"></app-unit>
<app-unit name="29 Infantry Army" x=21 y=28 musterStrength=127 arrive=4 nationality="R"></app-unit>
<app-unit name="30 Infantry Army" x=21 y=33 musterStrength=129 arrive=4 nationality="R"></app-unit>
<app-unit name="31 Infantry Army" x=20 y=27 musterStrength=105 arrive=5 nationality="R"></app-unit>
<app-unit name="32 Infantry Army" x=20 y=30 musterStrength=111 arrive=5 nationality="R"></app-unit>
<app-unit name="33 Infantry Army" x=12 y=8 musterStrength=112 arrive=6 nationality="R"></app-unit>
<app-unit name="37 Infantry Army" x=0 y=10 musterStrength=127 arrive=6 nationality="R"></app-unit>
<app-unit name="43 Infantry Army" x=0 y=32 musterStrength=119 arrive=7 nationality="R"></app-unit>
<app-unit name="49 Infantry Army" x=0 y=11 musterStrength=89 arrive=8 nationality="R"></app-unit>
<app-unit name="50 Infantry Army" x=0 y=25 musterStrength=108 arrive=8 nationality="R"></app-unit>
<app-unit name="52 Infantry Army" x=0 y=12 musterStrength=113 arrive=8 nationality="R"></app-unit>
<app-unit name="54 Infantry Army" x=0 y=23 musterStrength=105 arrive=8 nationality="R"></app-unit>
<app-unit name="55 Infantry Army" x=0 y=13 musterStrength=94 arrive=9 nationality="R"></app-unit>
<app-unit name="1 GD Cav Army" x=21 y=29 musterStrength=103 arrive=5 nationality="R"></app-unit>
<app-unit name="34 Infantry Army" x=25 y=8 musterStrength=112 arrive=5 nationality="R"></app-unit>
<app-unit name="1 GD Infantry Army" x=0 y=31 musterStrength=108 arrive=2 nationality="R"></app-unit>
<app-unit name="2 GD Infantry Army" x=0 y=15 musterStrength=110 arrive=9 nationality="R"></app-unit>
<app-unit name="3 GD Infantry Army" x=0 y=27 musterStrength=111 arrive=10 nationality="R"></app-unit>
<app-unit name="4 GD Infantry Army" x=0 y=17 musterStrength=96 arrive=10 nationality="R"></app-unit>
<app-unit name="39 Infantry Army" x=0 y=8 musterStrength=109 arrive=6 nationality="R"></app-unit>
<app-unit name="59 Infantry Army" x=0 y=8 musterStrength=112 arrive=11 nationality="R"></app-unit>
<app-unit name="60 Infantry Army" x=0 y=8 musterStrength=95 arrive=5 nationality="R"></app-unit>
<app-unit name="61 Infantry Army" x=0 y=8 musterStrength=93 arrive=17 nationality="R"></app-unit>
<app-unit name="2 GD Cav Army" x=0 y=21 musterStrength=109 arrive=6 nationality="R"></app-unit>
<app-unit name="1 Tank Army" x=0 y=33 musterStrength=103 arrive=11 nationality="R"></app-unit>
<app-unit name="1 GD Tank Army" x=0 y=28 musterStrength=107 arrive=20 nationality="R"></app-unit>
<app-unit name="5 GD Infantry Army" x=0 y=13 musterStrength=105 arrive=21 nationality="R"></app-unit>
<app-unit name="2 Tank Army" x=0 y=26 musterStrength=92 arrive=22 nationality="R"></app-unit>
<app-unit name="6 GD Infantry Army" x=0 y=10 musterStrength=109 arrive=23 nationality="R"></app-unit>
<app-unit name="3 Tank Army" x=0 y=29 musterStrength=101 arrive=24 nationality="R"></app-unit>
<app-unit name="4 Tank Army" x=0 y=35 musterStrength=106 arrive=25 nationality="R"></app-unit>
<app-unit name="38 Infantry Army" x=0 y=27 musterStrength=95 arrive=28 nationality="R"></app-unit>
<app-unit name="36 Infantry Army" x=0 y=15 musterStrength=99 arrive=30 nationality="R"></app-unit>
<app-unit name="35 Infantry Army" x=38 y=30 musterStrength=101 arrive=2 nationality="R"></app-unit>
<app-unit name="28 Infantry Army" x=21 y=22 musterStrength=118 arrive=3 nationality="R"></app-unit>
<app-unit name="25 Infantry Army" x=12 y=8 musterStrength=106 arrive=3 nationality="R"></app-unit>
<app-unit name="23 Infantry Army" x=20 y=13 musterStrength=112 arrive=3 nationality="R"></app-unit>
<app-unit name="17 Infantry Army" x=21 y=14 musterStrength=104 arrive=3 nationality="R"></app-unit>
<app-unit name="8 Militia Army" x=20 y=28 musterStrength=185 arrive=6 nationality="R"></app-unit>
<app-unit name="10 Militia Army" x=15 y=3 musterStrength=108 arrive=6 nationality="R"></app-unit>
<app-unit name="3 Militia Army" x=21 y=3 musterStrength=94 arrive=4 nationality="R"></app-unit>
<app-unit name="5 Militia Army" x=20 y=3 musterStrength=102 arrive=4 nationality="R"></app-unit>
<app-unit name="6 Militia Army" x=19 y=2 musterStrength=98 arrive=4 nationality="R"></app-unit>
<app-unit name="0 Infantry Army" x=1 y=1 musterStrength=100 arrive=32 nationality="R"></app-unit>